<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>HomePage</servlet-name>
    <display-name>Home Page</display-name>
    <servlet-class>com.revature.HomePageServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>HomePage</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.LoginServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.revature.LogoutServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ViewInfoServlet</servlet-name>
    <servlet-class>com.revature.ViewInfoServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ViewInfoServlet</servlet-name>
    <url-pattern>/viewinfo</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>BackServlet</servlet-name>
    <servlet-class>com.revature.BackServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>BackServlet</servlet-name>
    <url-pattern>/backtohomepage</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SubmitRequestServlet</servlet-name>
    <servlet-class>com.revature.SubmitRequestServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SubmitRequestServlet</servlet-name>
    <url-pattern>/submitrequest</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ViewPendingServlet</servlet-name>
    <servlet-class>com.revature.ViewPendingServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ViewPendingServlet</servlet-name>
    <url-pattern>/viewpending</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ViewResolvedServlet</servlet-name>
    <servlet-class>com.revature.ViewResolvedServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ViewResolvedServlet</servlet-name>
    <url-pattern>/viewresolved</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UpdateInfoServlet</servlet-name>
    <servlet-class>com.revature.UpdateInfoServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UpdateInfoServlet</servlet-name>
    <url-pattern>/updateinfo</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ApproveDenyServlet</servlet-name>
    <servlet-class>com.revature.ApproveDenyServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ApproveDenyServlet</servlet-name>
    <url-pattern>/approvedeny</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ViewAllPendingServlet</servlet-name>
    <servlet-class>com.revature.ViewAllPendingServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ViewAllPendingServlet</servlet-name>
    <url-pattern>/viewallpending</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ViewAllResolvedServlet</servlet-name>
    <servlet-class>com.revature.ViewAllResolvedServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ViewAllResolvedServlet</servlet-name>
    <url-pattern>/viewallresolved</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ViewSpecificServlet</servlet-name>
    <servlet-class>com.revature.ViewSpecificServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ViewSpecificServlet</servlet-name>
    <url-pattern>/viewspecific</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ViewEmployeesServlet</servlet-name>
    <servlet-class>com.revature.ViewEmployeesServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ViewEmployeesServlet</servlet-name>
    <url-pattern>/viewemployees</url-pattern>
  </servlet-mapping>
</web-app>
